@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Inter", sans-serif;

  font-weight: 100;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%); */
  /* background-color: #9dc5c3;
  background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%); */
  /* background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%); */
}

.sunnygrade {
  width: 208vh;
  height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
}
.cloudygrade {
  width: 208vh;
  height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9dc5c3;
  background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
}

.foggygrade {
  width: 208vh;
  height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  background-color: #acabb0;
  background-image: linear-gradient(315deg, #acabb0 0%, #e01c34 74%); */
  background-color: #de4256;
  background-image: linear-gradient(315deg, #de4256 0%, #b78e51 74%);
}
#welcome {
  width: 75dvw;
  height: 90dvh;
  z-index: 9999;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
  flex-direction: column;
}
#errormessage {
  width: 75dvw;
  height: 90dvh;
  z-index: 9999;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
  flex-direction: column;
}

#mainbox {
  width: 75dvw;
  height: 90dvh;
  border: 00px solid transparent;
  /* border: 1px solid black; */
  border-radius: 25px;
  color: white;
}
.search-container {
  max-width: 600px;
  margin: 0px auto;
}
input[type="text"] {
  display: block;
  width: calc(
    100% - 24px
  ); /*20px [ left & Right ] padding + 4px border [ left & Right ] */
  font-size: 16px;
  font-weight: 600;
  color: #002652;
  padding: 10px;
  border: 2px solid white;
}
.upperbox {
  border: none;
  height: 30dvh;
  width: 75dvw;
  margin-top: 10vb;
  position: relative;
}

#dateplacebox {
  border: none;
  float: left;

  min-height: fit-content;
  width: fit-content;
  margin-left: 10dvh;
  margin-top: 8%;
  position: relative;
}
#date {
  font-size: 25px;
}
#place {
  text-transform: capitalize;
}

#iconbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-right: rgba(255, 255, 255, 0.384) 2px dashed;
  float: left;
  min-height: fit-content;
  width: 30dvw;
  margin-top: 0vb;
  margin-left: 5%;
  margin-right: 5%;
  /* margin-bottom: 10%; */
  position: relative;
}
#weathertext {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25dvh;
  position: absolute;
  /* margin-right: 0vb; */
}

#degreebox {
  border: none;
  height: fit-content;
  width: fit-content;
  margin-right: 10vb;
  margin-top: 7%;
  float: left;
  margin-left: 10vb;
  position: relative;
  /* display: flex;
  flex-direction: column; */
}
#realdegree {
  font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: left;
}
.lowerbox {
  border: none;
  height: 35dvh;
  width: 80dvw;
  margin-top: 5vb;
  position: relative;
}
#whitecard {
  border: solid rgb(255, 255, 255) 2px;
  background: whitesmoke;
  color: #002652;
  width: 60.4dvw;
  height: 30vh;
  margin-top: 10vb;
  margin-left: 10dvh;
  /* margin-right: 15vb; */
  border-radius: 25px;
  font-weight: bolder;
  position: relative;
  bottom: 10%;
}
#cardtopic {
  min-height: fit-content;
  width: 60dvw;
  border: none;
  margin-top: 1vb;
  margin-left: 5vb;
  margin-bottom: 10px;
  font-weight: bolder;
}
.sevenicons {
  width: 70dvw;
  height: 30dvh;
  margin-left: 0vb;
  border: none;
}

.oneicon {
  width: 8.5dvw;
  height: 18dvh;
  margin-top: 1vb;
  border: none;
  border-right: rgb(230, 227, 227) 2px dotted;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  float: left;
  font-weight: 900;
}

#lastbox {
  border: transparent 0 none;
}
